@import './_header.css';
@import './_search.css';
@import './_sorting.css';
@import './_sortAndSearch.css';
@import './_modal.css';
@import './_product.css';

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

:root {
  --main-color: #F1385D;
  --black-color: #222222;
  --secondary-color: #717171;
  --white-color:#FFFFFF;
  --btn-main-bg: #000000;
  --input-border-color: #A6BCDA;
}
.container {
  max-width: 1320px;
  width: 100%;
  margin: 0 auto;
}
.btn {
  font-family: 'Inter';
  font-weight: 700;
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: -0.02em;
  cursor: pointer;
  padding: 4px 8px;
  color: var(--white-color);
  background-color: var(--btn-main-bg);
  border-radius: 8px;
  outline: none;
  border: none;
}

.active-btn {
  background-color: var(--main-color);
}

a {
  text-decoration: none;
}